<HTML>
	<HEAD>
		<TITLE>DIVS</TITLE>
		<LINK rel="stylesheet" HREF="../css/DIV.CSS" type="text/css"/>
	</HEAD>
	<BODY>
		<DIV id="Titulo">
			CSS - Bordas
		</DIV>
		<DIV id="Menu">
				<UL>
				    <LI> <a href= "../index.html">Voltar</a> </LI>
				</UL>
		
		</DIV>
		<DIV id="CONTEUDO">
		    <p>Bordas podem ser usadas para muitas coisas, por exemplo, como elemento decorativo ou para servir de linha de separação entre duas coisas. CSS proporciona infinitas possibilidades de uso de bordas na página.</p>
            <ul>
                <li>border-width</li>
                <li>border-color</li>
                <li>border-style</li>
            </ul>

		</DIV>
		
	
	</BODY>
</HTML>

