<!DOCTYPE html>
<html lang="pt">
	<HEAD>
		<TITLE>DIVS</TITLE>
		<LINK rel="stylesheet" HREF="css/DIV.CSS" type="text/css"/>
	</HEAD>
	<BODY>
		<DIV id="Titulo">
			CSS - DIVs e SPANs
		</DIV>
		<DIV id="Menu">
			<UL>
				<LI> <a href= "html/div2.html">DIV</a> </LI>
				<LI> <a href= "html/div3.html">SPAN</a> </LI>
				<LI> <a href= "html/div4.html">Bordas</a> </LI>
			</UL>
		
		</DIV>
		<DIV id="CONTEUDO">
		  <p>As páginas dos links ao lado apresentam detalhes das tags DIV e SPAN. Clique nos links da barra de navegação para saber mais sobre eles.</p>
		</DIV>
		
	</BODY>
</html>

