<HTML>
	<HEAD>
		<TITLE>DIVS</TITLE>
		<LINK rel="stylesheet" HREF="../css/layout.CSS" type="text/css"/>
		<LINK rel="stylesheet" HREF="../css/div.CSS" type="text/css"/>
	</HEAD>
	<BODY>
		<header class="o-header">
			<h1 class="titulo">CSS - DIVs</h1>
		</header>
		<nav class="o-nav">
		  <UL class="menu">
				<LI> <a href= "../index.html">Voltar</a> </LI>
		  </UL>
		
		</nav>
		<main class="o-main conteudo">
		  <p>
             O elemento DIV é usado para agrupar elementos, facilitando a estruturação da página.
            </p>
		</main>
		<footer class="o-footer">
			Desenvolvido por Prof. Bianca
		</footer>	
	
	</BODY>
</HTML>

