body{background-image:url("http://www.old300.com/images/currency-trading.jpg");
	   background-repeat:no-repeat;
	   background-position:center;

	   
	   }
	}
	   .preto{color:silver;font-size:120px;;}
	   .azul{color:gold;font-size:70px;}
	   .prata{color:red;font-size:80px;}
	   .cinza{font-size:20px;color:black;}
	
	
